<div class="container">
    <div class="card m-4">
        <div class="col m-4">
            <h6>Fecha: </h6>
            <input type="date" name="" id="">
        </div>
        <div class="col m-4">
            <button class="btn btn-outline-secondary">Buscar</button>
        </div>
        </div>
        <div class="card m-4">
            <h6 class="m-4">ingresos de la fecha indicada</h6>
        <canvas width="300px" height="100px"></canvas>    
        <div class="btn-group m-4">
            <button class="btn btn-outline-primary">Corregir</button>
            <button class="btn btn-outline-warning">Borrar</button>
            <button class="btn btn-outline-danger" onclick='location.href="/caja/mainmenu"'>Cancelar</button>
        </div>
    </div>
</div>