<div class="container m-5">
    <div class="row">
    <div class="col m-4">
        <button class="btn btn-outline-secondary" onclick='location.href="/caja/rIaO"'>Registro de Ingresos y Egresos</button>
        <button class="btn btn-outline-secondary" onclick='location.href="/caja/listC"'>Listado de Caja</button>
        <button class="btn btn-outline-secondary" onclick='location.href="/caja/cIaO"'>Corrección de Ingresos y Egresos</button>
      </div>
  </div>
</div>
</div>