<div class="container">
    <div class="card m-4">
        <div class="col m-3">
            <h6>Fecha: </h6>
            <input type="date" name="" id="">
        </div>
        <div class="col m-3">
            <h6>Cuenta: </h6>
            <input type="text" name="" id="">
            <input type="text" name="" id="">
        </div>
        <div class="col m-3">
            <h6>Comprobante: </h6>
            <input type="text" name="" id="">
        </div>
        <div class="col m-3">
            <h6>Importe</h6>
            <input type="text" name="" id="">
        </div>
        <div class="col m-3">
            <h6>Tipo: </h6>
            <input type="text" name="" id="">
            <input type="text" name="" id="">
        </div>
        <div class="col m-3">
            <h6>Observaciones: </h6>
            <input type="text" name="" id="">
        </div>
        <div class="btn-group m-4">
            <button class="btn btn-outline-primary">Aceptar</button>
            <button class="btn btn-outline-danger" onclick='location.href="/caja/mainmenu"'>Cancelar</button>
        </div>
    </div>
</div>