 <section class="bg-dark bg-center-top bg-repeat pt-5 pb-4 pb-md-5" style="background-image: url(Frontend/docs/4.5/img/1.jpg);">
      <div class="img-cover bg-auto d-md-block" style="background-image: url(/Frontend/docs/4.5/img/1.jpg);">
        <a href="ctaCte.html" class="hb-md-margin"><span class="hb inv hb-md hb-xing-inv"><i>Cuenta Corriente</i></span></a>
        <a href="/socios" class="hb2-md-margin"><span class="hb2 inv hb2-md hb2-xing-inv"><i>Socios</i></span></a>
        <a href="lecturas.html" class="hb3-md-margin"><span class="hb3 inv hb2-md hb3-xing-inv"><i>Lecturas</i></span></a>
        <a href="caja.html" class="hb4-md-margin"><span class="hb4 inv hb2-md hb4-xing-inv"><i>Caja</i></span></a>

      </div>
    </section>