  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="Frontend/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/Frontend/docs/4.5/dist/css/hexagons.css">
    <link rel="stylesheet" href="/Frontend/docs/4.5/dist/css/font-awesome.css">
    <link rel="stylesheet" media="screen" href="/Frontend/docs/4.5/dist/css/vendor.min.css">
    <link rel="stylesheet" media="screen" href="/Frontend/docs/4.5/dist/css/theme.css">
    <link rel="stylesheet" href="/Frontend/docs/4.5/dist/css/bootstrap.css">
    <title>Iniciar Sesión</title>
  </head>
  <body>
        <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  
  <div class="mx-auto mb-4 m-4">
  <form class="form-signin" action="/layouts/signin" method="POST">
    <img class="mx-auto mb-4" src="/Frontend/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Por Favor, Ingrese al Sistema</h1>
    <label for="inputEmail" class="sr-only">Usuario</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="true" autofocus="">
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="true">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    <p class="mt-5 mb-3 text-muted"></p>
  </form>
  </div>
  </body>
  </html>  

  
  
  
